<div class="tab" id="race">
	<h1>Select Your Race</h1>


	<!-- set race and gender inputs - hidden -->
	<input style="display: none;" type="text" id="race_input" name="race" value="Dwarf">
	<input style="display: none;" type="text" id="gender_input" name="gender" value="Male">

	<div id="race_container">
		<div id="races">
			<a id="Dwarf" href="javascript:void(0);" onclick="change_race(this);" class="active_race">Dwarf</a> <br/>
			<a id="Elf" href="javascript:void(0);" onclick="change_race(this);" class="raceButton">Elf</a> <br/>
			<a id="Gnome" href="javascript:void(0);" onclick="change_race(this);" class="raceButton">Gnome</a> <br/>
			<a id="Half-elf" href="javascript:void(0);" onclick="change_race(this);" class="raceButton">Half-elf</a> <br/>
			<a id="Half-orc" href="javascript:void(0);" onclick="change_race(this);" class="raceButton">Half-orc</a> <br/>
			<a id="Halfling" href="javascript:void(0);" onclick="change_race(this);" class="raceButton">Halfling</a> <br/>
			<a id="Human" href="javascript:void(0);" onclick="change_race(this);" class="raceButton">Human</a>
		</div>

		<div id="race_pics">
			<span id="male" onclick="change_gen(this);" class="active_gender" style="width: 12px;">M</span>
			<span id="female" onclick="change_gen(this);" class="raceButton" style="width: 12px;">F</span> 
			<div id="race_pic">

			</div>
		</div>

		<div id="race_text">
			<p>
			<span id="race_title">Dwarves</span> are a stoic but stern race, ensconced in cities carved from the hearts of mountains and fiercely determined to repel the depredations of savage races like orcs and goblins. More than any other race, the dwarves have acquired a reputation as dour and humorless craftsmen of the earth. It could be said that dwarven history shapes the dark disposition of many dwarves, for they reside in high mountains and dangerous realms below the earth, constantly at war with giants, goblins, and other such horrors.
			</p>
			<p>
			<b>Physical Description:</b> Dwarves are a short and stocky race, and stand about a foot shorter than most humans, with wide, compact bodies that account for their burly appearance. Male and female dwarves pride themselves on the length of their hair, and men often decorate their beards with a variety of clasps and intricate braids. A clean-shaven male dwarf is a sure sign of madness, or worse—no one familiar with their race trusts a beardless dwarf.
			</p>
			<p>
			<b>Society:</b> The great distances between their mountain citadels account for many of the cultural differences that exist within dwarven society. Despite these schisms, dwarves throughout the world are characterized by their love of stonework, their passion for stone- and metal-based craftsmanship and architecture, and a fierce hatred of giants, orcs, and goblinoids.
			</p>
			<p>
			<b>Relations:</b> Dwarves and orcs have long dwelt in proximity, theirs a history of violence as old as both their races. Dwarves generally distrust and shun half-orcs. They find halflings, elves, and gnomes to be too frail, flighty, or "pretty" to be worthy of proper respect. It is with humans that dwarves share the strongest link, for humans' industrious nature and hearty appetites come closest to matching those of the dwarven ideal.
			</p>
			<p>
			<b>Alignment and Religion:</b> Dwarves are driven by honor and tradition, and while they are often satirized as standoffish, they have a strong sense of friendship and justice, and those who win their trust understand that, while they work hard, they play even harder—especially when good ale is involved. Most dwarves are lawful good.
			</p>
		</div>
	</div>
	<br/>
	<br/>


	<h1>Racial Traits</h1>
	<div id="race_bonus">

		<b>+2 Constitution, +2 Wisdom, –2 Charisma:</b> Dwarves are both tough and wise, but also a bit gruff.
<br/><br/>
		<b>Slow and Steady:</b> Dwarves have a base speed of 20 feet, but their speed is never modified by armor or encumbrance.
<br/><br/>
		<b>Darkvision:</b> Dwarves can see in the dark up to 60 feet.
<br/><br/>
		<b>Defensive Training:</b> Dwarves get a +4 dodge bonus to AC against monsters of the giant subtype.
<br/><br/>
		<b>Greed:</b> Dwarves receive a +2 racial bonus on Appraise skill checks made to determine the price of nonmagical goods that contain precious metals or gemstones.
<br/><br/>
		<b>Hatred:</b> Dwarves receive a +1 bonus on attack rolls against humanoid creatures of the orc and goblinoid subtypes due to special training against these hated foes.
<br/><br/>
		<b>Hardy:</b> Dwarves receive a +2 racial bonus on saving throws against poison, spells, and spell-like abilities.
<br/><br/>
		<b>Stability:</b> Dwarves receive a +4 racial bonus to their Combat Maneuver Defense when resisting a bull rush or trip attempt while standing on the ground.
<br/><br/>
		<b>Stonecunning:</b> Dwarves receive a +2 bonus on Perception checks to potentially notice unusual stonework, such as traps and hidden doors located in stone walls or floors. They receive a check to notice such features whenever they pass within 10 feet of them, whether or not they are actively looking.
<br/><br/>
		<b>Weapon Familiarity:</b> Dwarves are proficient with battleaxes, heavy picks, and warhammers, and treat any weapon with the word "dwarven" in its name as a martial weapon.
<br/><br/>
		<b>Languages:</b> Dwarves begin play speaking Common and Dwarven. Dwarves with high Intelligence scores can choose from the following: Giant, Gnome, Goblin, Orc, Terran, and Undercommon.
	</div>


	<br/>
</div>